@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Codes start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

:root {
    --primary-clr: #4E47FF;
    --title-clr: #252432;
    --para-clr: #252432;

}

body {
    background-color: rgb(245, 248, 255);
}

.primary-btn {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-clr);
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.primary-btn:hover {
    background-color: #312cc2;
    transform: scale(1.1);

}

.title-text {
    font-size: 42px;
    font-weight: bold;
    color: var(--title-clr);
    text-align: center;
}

.description {
    font-size: 20px;
    color: var(--para-clr);
    margin: 20px 0;

}

.bg-blue {
    background-color: rgb(229, 231, 255);
}

.bg-white {
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Types of codes */
.hero {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gainsboro;
    /* fallback color*/
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

nav h2 {
    font-size: 34px;
    color: var(--primary-clr);
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.317);
}

header .hero-content {
    padding: 150px;
    text-align: center;
}

.hero-content h1 {
    font-size: 64px;
    line-height: auto;
    margin-bottom: 30px;
}

.action {
    margin: 110px auto;
    text-align: left;
}

.action .col-1 .title-text {
    text-align: left;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
}

.action .col-1 img {
    width: 400px;
    height: 320px;
    border-radius: 48px;
}

.productive-users .col-2 {
    cursor: pointer;
}

.productive-users {
    padding: 50px 80px;
    margin-bottom: 120px;
    text-align: center;
    border-radius: 24px;
}

.productive-users .col-2 * {
    margin: 0;
}

.productive-users .col-2 h2 {
    font-size: 80px;
    color: var(--primary-clr);
    margin-top: 40px;
    font-family: inner;
}

.users-feedback {
    margin-bottom: 130px;
}

.users-feedback .title-text {
    margin-bottom: 50px;
}

.users-feedback .row {
    gap: 25px;
}

.users-feedback .col-3 {
    padding: 24px;
    box-shadow: 5px 5px 10px rgba(74, 72, 65, 0.107);
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}

.users-feedback .users-feedback-star {
    margin-bottom: 20px;
    display: inline-block;
}

.users-feedback .users-title {
    font-size: 28px;
    color: var(--title-clr);
}

.users-feedback .user-info {
    display: flex;
    gap: 20px;
    align-items: center;

}

.user-info img {
    border-radius: 50%;
}

.big-banner {
    padding: 70px 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 100px;
}

.big-banner * {
    margin-bottom: 20px;
}

.big-banner .big-banner-img {
    border-radius: 48px;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

}

.contact .form-caption {
    font-size: 97px;
}

.contact form {
    flex-basis: 50%;
    font-size: 20px;
}



.contact input,
.contact textarea {
    display: block;
    margin: 10px 0 20px;
    padding: 20px 30px;
    border: none;
    background-color: white;
    width: 400px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 100px 450px;
}

footer h1 {
    font-size: 100px;
    font-weight: bolder;
    color: var(--primary-clr);
    cursor: pointer;
}

footer p {
    color: var(--title-clr)
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul a {
    font-weight: bold;
}